* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

header {
    background: #f8942c;
    width: 100%;
    height: 80px;
    clear: both;
    content: '';
    display: table;

}

nav {
    font-size: 20px;
    margin-left: 25px;
    position: relative;
    float: right;
    padding-right: 70px;
}

nav ul li {
    list-style: none;
    margin-left: 70px;
    padding: 20px 0;
    float: left;
}



nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    background-color: wheat;
}

/*footer*/


footer {
    width: 100%;
    height: auto;
    margin-top: auto;
    background-color: #f8942c;
}

footer .grupoUno {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: grid;


    grid-template-columns: repeat(3, 1fr);

}

footer .grupoUno .box figure {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

footer .grupoUno .box figure img {
    width: 250px;
}

footer .grupoUno .box h2 {
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
    padding-top: 17px;
}

footer .grupoUno .box p {
    color: black;
    margin-bottom: 10px;
}

footer .grupoDos {
    text-align: left;
    width: 100%;
    background-color: #3f3f3f;
}

footer .grupoDos small {
    color: white;
}

.redes-sociales {
    padding: 20px;
}

.facebook {
    width: 30px;
    height: 30px;
}

/*Body*/
body {
    display: flex;

    min-height: 100vh;
    flex-direction: column;
}

/*                                                                                 seccion de noticias       */

.contenedor {
    
    width: 90%;
    max-width: 1300px;
    margin: 0.5em auto;
    align-items: center;
    background: url(../img/back2.svg) no-repeat;
    background-size: cover;
    background-position:center ;
    display: grid;
    gap: 0.5em;

    grid-template-columns: repeat(5, 1fr);
}

.aside img{
    width: 350px;
    height: 210px;
}

.relacionados img{
    width: 300px;
    height: 250px;
}


.contenedor div,
.contenedor .contenido,
.contenedor .aside {
    
    padding: 20px;

}

.contenedor .contenido {
    grid-column: span 6;
}

.contenedor .aside {
    grid-column: span 6;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenido h2 {
    text-align: center;
}

.contenido article {
    
    padding: 20px;
    margin-top: 5px;

}

.contenedor .relacionados {

    background-color: #f8942c;
    color: wheat;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.contenedor .relacionados:hover {
    cursor: pointer;
    background-color: yellow;
    color: black;
}

/*                                                                                             CONTACTENOS*/

.contenedor-con div {
    border: 1px solid black;
}

.contenedor-con {

    width: 100%;

    max-width: 1000px;
    margin: 1.5em auto;
    padding-top: 30px;

    display: grid;
    gap: 0.5em;

    grid-template-columns: 60% 40%;
    grid-template-rows: 300px 300px;

}

.formulario {
    background-color: white;
    height: 580px;
    padding: 20px;
    
}



.formulario h2 {
    text-align: center;
}

.formulario input, textarea, select {

    margin: 0 auto;
    background-color: #eeeeee;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    font-size: 15px;
    border: none;
}

.formulario textarea {
    min-height: 130px;
    max-height: 130px;
    min-width: 100%;
    max-width: 100%;

}



.contenedor-con .der {
    background-color: #3f3f3f;
    padding: 20px;
    color: antiquewhite;
}



#h {
    padding-top: 30px;
    text-align: center;
}

#prueba {
    background-image: url(../img/tayikistan-montanas.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.der {
    height: 580px;
}

.der p {
    padding-top: 20px;
}


/*QUIENES SOMOS*/

.contenedor-quien {
    width: 90%;
    max-width: 1100px;
    margin: 1.5em auto;
    padding-top: 50px;

    display: grid;
    gap: 0.5em;

    grid-template-columns: repeat(2, 1fr);
}



.contenedor-quien h1 {
    color: #f8942c;
    padding-bottom: 20px;
    padding-left: 14px;
}

.contenedor-quien p {
    margin: 25px;
    margin-right: 20px;
}

.contenedor-quien div img {
    width: 500px;
    height: 400px;
    padding-left: 50px;
}

.contenedor-quien-bajo {
    background-color: black;

}

.h1 {
    text-align: center;
    color: black;
}

.contenedor_imagenes {
    background-image: url(../img/backgroundGray.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    padding: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.imagen_equipo {
    padding: 20px;
    text-align: center;


}

.imagen_equipo p {
    padding: 20px;
    color: #eeeeee;
}



/*                                                                     LOGIN */

.contenedor_login {
    width: 100%;

    max-width: 800px;
    margin: 1.5em auto;
    padding-top: 30px;


    display: grid;
    gap: 0.5em;

    grid-template-columns: 65% 25%;
    grid-template-rows: 400px 400px;
}

.formulario-login {

    background-color: white;
    padding: 20px;
    border: 1px solid black;

}

.formulario-login form h2 {
    text-align: center;
    padding-bottom: 20px;
}

.formulario-login p {
    text-align: center;
}

.formulario-login input {
    margin: 0 auto;
    background-color: #eeeeee;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
}

.informacion_login {
    background-color: #3f3f3f;
}
                                                                              /*GALERIA DE IMAGENES*/

.galeria-column img {
    width: 100%;
    margin-top: 5px;
}

.galeria-row {
    display: flex;
    width: 100%;
    padding: 5px;

}

.galeria-column {
    flex: 25%;
    padding: 5px;

}

/*VISTA DE ADMINISTRADOR*/


.ad-contenedor-iframe {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;

}

.ad-contenedor-iframe iframe{
    width: 100%;
    height: 800px;
    border: 3px solid black;
    border-radius: 5px;
}

.contenedor-vista-general{
    display: flex;
    
}

.ad{
    width: 50%;
    padding: 12px;

    text-align: center;
}

.ve{
    width: 50%;
    padding: 12px;
}

.formulario input[type="submit"] {
    width: 30%;
    margin: auto;
    border: solid thin black;
    padding: 0.7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600px;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}


button{
    width: 30%;
    margin: auto;
    border: solid thin black;
    padding: 0.7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
    
}

button:hover{
        width: 30%;
    margin: auto;
    border: solid thin black;
    padding: 0.7rem;
    border-radius: 2rem;
    background-color: #f8942c;
    transition: all 0.5s ease;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.formulario input[type="submit"]:hover {
    width: 30%;
    margin: auto;
    border: solid thin black;
    padding: .7rem;
    border-radius: 2rem;
    background-color: #f8942c;
    transition: all 0.5s ease;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}





