* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-image: url(../img/tayikistan-montanas.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor-con div {
    border: 1px solid black;
}

.contenedor-con {

    width: 100%;

    max-width: 1100px;
    margin: 1.5em auto;
    padding-top: 30px;

    display: grid;
    gap: 0.5em;

    grid-template-columns: 60% 40%;
    grid-template-rows: 700px 500px;
    background-color: red;

}

.formulario {
    background-color: white;
    height: 1500px;
    padding: 15px;
    
}



.formulario h2 {
    text-align: center;
}

.formulario input,textarea, select {    
    background-color: #eeeeee;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;

    font-size: 15px;
   

}

.formulario input[type="radio"]{
    background-color: #eeeeee;
    width: 18%;
    margin-bottom: 20px;
    padding: 8px;

    font-size: 15px;
}

.formulario input[type="submit"] {
    width: 30%;
    margin: auto;
    border: solid thin black;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.formulario input[type="submit"]:hover {
    width: 30%;
    margin: auto;
    border: solid thin black;
    padding: .7rem;
    border-radius: 2rem;
    background-color: #f8942c;
    transition: all 0.5s ease;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.contenedor-con .der {
    background-color: #3f3f3f;
    padding: 20px;
    color: antiquewhite;
}



#h {
    padding-top: 30px;
    text-align: center;
}

.der {
    height: 980px;
}

.der p {
    padding-top: 20px;
}


